* {
    box-sizing: border-box;
}

.content-container{
    background-color: white;
    margin: 1.5rem 2.5rem;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.image{
    width: 40%;
}

.image img{
    max-width: 88%;
    margin: 0 6%;
    position: relative;
}

.information{
    width: 60%;
    border: 5px black solid;
}

.item-information{
    height: 50%;
}

.item-name{
    font-size: 150%;
    text-align: center;
    margin: -2% 0;
}

.other-info{
    position: relative;
    width: 94%;
    text-align: center;
    margin: 0 3%;
}

span{
    color: darkgreen;
}

.quantity-container input{
    color: white;
    background-color: black;
}

.selections{
    position: relative;
    text-align: center;
}

.selections select{
    width: 50%;
    background-color: black;
    color: white;
}

.selections h4{
    margin-bottom: 0;
}

.button{
    position: relative;
    width: 20%;
    margin: 5% 42%;
}

.recommendations{
    border-top: 2px black groove;
    height: 41%;
}

.recommendations h1{
    margin: 1% 1%;
    font-size: 1.5rem;
}

h2{
    text-align: center;
}

/*button design by @Voxybuns from https://uiverse.io/Voxybuns/lucky-fireant-71*/
button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #303030;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
 color: #000000;
 border-color: #000000;
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}

.recommendations-container{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem 0.5rem 4rem 0.5rem;
}

.product{
    border:2px dotted gray;
    background-color: white;
    padding:0;
    width:20%;
    height: 18rem;
    width: 12rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(128,128,128,85);
}

.product img{
    height: 75%;
    width: 100%;
}

#pName, #pName:link, #pName:visited{
    text-align: center;
    margin: 0;
    font-size: 100%;
    font-weight: bolder;
    text-decoration: none;
    color:black;
}

#pName:active{
    color:red;
}

#pPrice{
    margin: 2% auto;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: green;
}

#pSizes{
    margin: 2% auto;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: orange;
}

#pStock{
    margin: 2% auto;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.product:hover{
    transform: scale(1.25,1.25);
}